<header class="font-['Poppins',sans-serif] text-base">
    <nav class="flex justify-between items-center my-7">
        <div>
            <a
                href="index.html"
                role="link"
                class="animate-[spin_1s_infinite_1s]"
            >
                <!-- <img src={Logo.src} alt="Brand"> -->
                <span class="text-white">Noveris</span>
            </a>
        </div>
        <a
            href="#contact"
            class="text-[#d4d4d8] font-medium text-base underline"
            >Contact</a
        >
    </nav>
    <div class="min-h-[calc(100vh-8rem)] flex items-center">
        <h1 class="text-white text-5xl font-semibold text-balance">
            Hello, everyone! You know Juan,
            <span class="text-[#6ee7b7]">right?</span> Allow me to tell you
            about Juan, a passionate
            <span class="text-[#c4b5fd]">web developer.</span> Juan transforms
            lines of code into true digital
            <span class="text-[#fda4af]">masterpieces.</span>
            <!-- <a -->
            <!--     href="#about" -->
            <!--     role="button" -->
            <!--     class="inline-flex justify-between items-center gap-4 p-[0.3125rem] text-sm font-medium text-white border border-white rounded-[2.5rem] transition-all duration-200 cursor-pointer hover:bg-white hover:text-[#09090b] translate-x-[2.375rem] -translate-y-2" -->
            <!-- > -->
            <!--     <span class="ml-4">Learn more</span> -->
            <!--     <span -->
            <!--         class="w-12 h-12 inline-flex justify-center items-center rounded-full bg-white text-[#09090b] text-2xl group-hover:bg-[#09090b] group-hover:text-white" -->
            <!--     > -->
            <!--         <i class="ri-arrow-down-line"></i> -->
            <!--     </span> -->
            <!-- </a> -->
        </h1>
    </div>
</header>
